footer {
  min-width: 100%;
  height: 300px;
  margin-top: 100px;
  background-color: #061e37;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.footer_wrapper {
  width: 83.3%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer_wrapper .left_block {
  width: 65%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
}
.footer_wrapper .left_block .logo_container {
  width: 100%;
  height: 30px;
}
.footer_wrapper .left_block .other_info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.footer_wrapper .left_block .other_info a {
  cursor: pointer;
  color: #fff;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: lighter;
  margin-right: 20px;
}
.footer_wrapper .left_block .other_info a:nth-last-child(1) {
  margin-right: 0;
}
.footer_wrapper .left_block .other_info a:nth-child(2)::before {
  content: "";
  display: inline-block;
  margin: 2px;
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 20px;
}
.footer_wrapper .left_block .other_info a:nth-child(2)::after {
  content: "";
  display: inline-block;
  margin: 2px;
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 20px;
}
.footer_wrapper .right_block2 {
  width: 35%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.footer_wrapper .right_block2 .navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_wrapper .right_block2 .navigation a {
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  text-align: right;
  margin: 0;
}
.footer_wrapper .right_block2 .soc_medias {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
}
header ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
header ul li {
  margin-left: 68px;
}
header ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
header ul li a:hover {
  color: black;
}
header ul li:nth-child(1) {
  margin-left: 0;
}

.logo_container {
  width: 15%;
  display: flex;
}

.logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_txt {
  margin-top: -2.5px;
  margin-left: 12px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 15px;
  color: #fff;
}
.logo_txt p {
  width: 100%;
  margin: 0;
}
.logo_txt p:nth-child(2) {
  font-weight: bold;
}

.signUp_button {
  width: 120px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fff, #fff);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: all 0.2s;
}
.signUp_button div {
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: center;
  transition: all 0.1s;
}
.signUp_button:hover {
  transform: scale(1.04);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background-size: 100% 1px;
}
.signUp_button:hover:hover > div {
  letter-spacing: 1px;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 83.3%;
  margin: 0 auto;
  margin-top: 60px;
  min-height: 100%;
}

a:not(header ul li a, header a, footer a, .video_block a) {
  transition: all 0.15s;
}
a:not(header ul li a, header a, footer a, .video_block a) div {
  transition: all 0.15s;
}
a:not(header ul li a, header a, footer a, .video_block a):hover {
  transform: scale(1.04);
}
a:not(header ul li a, header a, footer a, .video_block a):hover > div {
  font-size: 15.5px;
  letter-spacing: 1px;
}

.main_page_image {
  width: 100%;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../Images/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_page {
  width: 100%;
  height: 600px;
  margin-top: -30px;
  display: flex;
  align-items: center;
}

.info_block {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.info_block h1 {
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 1.5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}
.info_block p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 35px;
}
.info_block a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_block .info_buttons {
  display: flex;
  align-items: center;
}
.info_block .info_buttons a div {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.buy_button {
  width: 150px;
  height: 55px;
  border-radius: 5px;
  background-color: #061e37;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  margin-right: 30px;
}
.buy_button div {
  color: #fff;
}

.trial_button {
  width: 160px;
  height: 55px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.trial_button div {
  color: #000;
  font-weight: 600;
}

.video_block {
  width: 60%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.video {
  width: 620px;
  height: 330px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Images/video_preview.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.video:hover > .video_container > .play_button-txt_container a {
  font-size: 14px;
  letter-spacing: 3px;
}

.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.play_button {
  width: 60px;
  height: 60px;
  background-color: #061e37;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: all 0.2s;
}
.play_button a {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.play_button a .fas {
  color: #fff;
}

.play_button-txt_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play_button-txt_container a {
  transition: all 0.2s;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.tools_page {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
.tools_page .top_container {
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tools_page .top_container h2 {
  width: 100%;
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
}
.tools_page .top_container h3 {
  width: 100%;
  font-size: 25px;
  color: #b0bec5;
  font-weight: 600;
  text-align: center;
}
.tools_page .top_container p {
  width: 555px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #b0bec5;
}
.tools_page .mid_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.tools_page .mid_container .get_started_btn-container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools_page .mid_container .get_started_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 55px;
  border-radius: 5px;
  background-color: #1de9b6;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.tools_page .mid_container .get_started_btn div {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.tools_page .bottom_container {
  width: 100%;
  margin-top: 100px;
}

.title_column {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.title_column .img_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.title_column p {
  width: 100%;
  text-align: center;
  margin: 5px;
}
.title_column p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}
.title_column p:nth-child(3) {
  font-size: 15px;
  font-weight: 400;
  color: #78909c;
}

.advantages_line {
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
}
.advantages_line .column {
  width: 25%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages_line .column .img_container {
  width: 50%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.advantages_line .column .img_container .img_round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages_line .column p {
  width: 50%;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
.advantages_line .column1 {
  background-color: #80d8ff;
}
.advantages_line .column2 {
  background-color: #82b1ff;
}
.advantages_line .column3 {
  background-color: #b388ff;
}
.advantages_line .column4 {
  background-color: #ea80fc;
}

#service {
  margin-top: 150px;
}

.service_page {
  width: 100%;
  margin-top: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
.service_page .top_container {
  width: 100%;
  margin-bottom: 48px;
}
.service_page .top_container h2 {
  width: 100%;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.service_page .top_container p {
  width: 555px;
  margin: 15px auto;
  color: #b0bec5;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}

.dropdown_info_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.dropdown_info_container:nth-last-child(0) {
  margin-bottom: 0;
}

.dropdown_info {
  width: 800px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.dropdown_info .top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
.dropdown_info .top:hover {
  background-color: #f0f0f0;
}
.dropdown_info p {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
.dropdown_info .dropdown_arrow {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_info .info_img {
  width: 25px;
  margin: 20px 25px 20px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_info #static_hidden_info {
  display: flex;
}
.dropdown_info .hidden_info {
  width: 100%;
  padding: 25px;
  align-items: center;
}
.dropdown_info .hidden_info:not(#static_hidden_info) {
  display: none;
}
.dropdown_info .hidden_info .img_container {
  width: 50%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_info .hidden_info .img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dropdown_info .hidden_info .img_container img:not(#static_img) {
  border-radius: 5px;
}
.dropdown_info .hidden_info p {
  margin: 0;
  margin-left: 25px;
  line-height: 25px;
  letter-spacing: 30;
  font-weight: normal;
  text-transform: none;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.aboutUs_img {
  width: 100%;
  height: 564px;
  margin-top: 100px;
  position: absolute;
  left: 0;
  z-index: -1;
  background-image: url(../Images/BG2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs_page {
  width: 100%;
  height: 564px;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.aboutUs_page .left_block {
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
.aboutUs_page .left_block h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 19px;
}
.aboutUs_page .left_block p {
  color: #fff;
  line-height: 25px;
  font-size: 15px;
  margin: 0;
}
.aboutUs_page .left_block .get_started_btn {
  margin-top: 78px;
}
.aboutUs_page .left_block .get_started_btn:hover {
  margin-left: 3.5px;
}
.aboutUs_page .left_block .get_started_btn div {
  width: 150px;
  height: 55px;
  border-radius: 5px;
  background-color: #061e37;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
.aboutUs_page .arrow_container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 21%;
}
.aboutUs_page .arrow_container img {
  cursor: pointer;
  transition: all 0.15s;
  width: 23px;
  height: 14px;
}
.aboutUs_page .arrow1 {
  margin-top: 20px;
  top: 0;
}
.aboutUs_page .arrow1 img:hover {
  transform: scale(1.2);
}
.aboutUs_page .arrow2 {
  margin-bottom: 20px;
  bottom: 0;
}
.aboutUs_page .arrow2 img {
  transform: rotate(180deg);
}
.aboutUs_page .arrow2 img:hover {
  transform: scale(-1.2);
}
.aboutUs_page .right_block {
  width: 68%;
  height: 970px;
  max-height: 970px;
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  z-index: -1;
  font-family: "Raleway", sans-serif;
}
.aboutUs_page .right_block .person_container {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: flex-end;
}
.aboutUs_page .right_block .person_container:nth-child(1) .image_container img, .aboutUs_page .right_block .person_container:nth-last-child(1) .image_container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutUs_page .right_block .person_container .image_container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs_page .right_block .person_container .text_field {
  width: 60%;
  background-color: #fff;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
}
.aboutUs_page .right_block .person_container .text_field .person_name {
  width: 100%;
}
.aboutUs_page .right_block .person_container .text_field .person_name p {
  height: auto;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
}
.aboutUs_page .right_block .person_container .text_field p {
  color: #78909c;
  font-style: italic;
  line-height: 25px;
  margin: 0;
}

.team_page {
  width: 45%;
  margin: 0 auto;
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
}
.team_page h2 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.team_page p {
  text-align: center;
  color: #b0bec5;
}
.team_page p:nth-child(2) {
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 25px;
}
.team_page p:nth-child(4) {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top: 50px;
}
.team_page p:nth-child(5) {
  width: 95%;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  margin: 0 auto;
}
.team_page .soc_medias {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}
.team_page .soc_medias div {
  margin-right: 20px;
}
.team_page .soc_medias div:nth-last-child(1) {
  margin-right: 0;
}

.team_images {
  width: 100%;
  height: 170px;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.team_images div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: ease all 0.3s;
}
.team_images .secondary_person {
  opacity: 0.3;
  cursor: pointer;
}
.team_images .secondary_person:hover {
  transform: scale(1.02);
  opacity: 0.45;
}
.team_images .main_person {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  opacity: 1;
  box-shadow: inset 0 0 10px 15px rgba(0, 0, 0, 0.5);
}

#help {
  margin-top: 30px;
}

.help_page {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
.help_page h2 {
  font-size: 45px;
  font-weight: 700;
}
.help_page p {
  color: #061e37;
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 25px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
form input {
  border-radius: 5px;
  font-size: inherit;
  font-weight: 500;
  padding-left: 15px;
}
form .client_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
form .client_info input {
  width: 265px;
  height: 50px;
  border: 1px solid #061e37;
}
form .client_info input::-moz-placeholder {
  color: #061e37;
  line-height: 25px;
  font-size: 14px;
  font-weight: 600;
}
form .client_info input:-ms-input-placeholder {
  color: #061e37;
  line-height: 25px;
  font-size: 14px;
  font-weight: 600;
}
form .client_info input::placeholder {
  color: #061e37;
  line-height: 25px;
  font-size: 14px;
  font-weight: 600;
}
form .client_info input:nth-child(1), form .client_info input:nth-child(2) {
  margin-bottom: 20px;
}
form .client_info input:nth-child(1), form .client_info input:nth-child(3) {
  margin-right: 40px;
}
form .client_info input:nth-child(4)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form .client_info .client_message {
  width: 592px;
  padding-bottom: 100px;
  margin-top: 20px;
  margin-left: 2px;
}
form .bottom_form {
  width: 96%;
  height: 90px;
  display: flex;
  align-items: center;
}
form .bottom_form p {
  margin: 0;
}
form .bottom_form .checkbox_container {
  width: 100%;
  display: flex;
}
form .bottom_form .checkbox_container input {
  margin-top: 6.5px;
  margin-right: 10px;
}
form .bottom_form .button button {
  cursor: pointer;
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #1de9b6;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}
form .bottom_form .button button:hover {
  transform: scale(1.04);
  font-size: 16.5px;
  letter-spacing: 1px;
}/*# sourceMappingURL=main.css.map */