header {
    @include desktop {
        li:not(li:nth-child(1)) {
            margin-left: 35px;
        }
    }
    @include tablet {
        width: 83.3%;
        margin: 0 auto;
    }
    @include phone {
        width: 95%;
    }
    @include rwd(1050) {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
        li:not(li:nth-child(1)) {
            margin-left: 25px;
        }
    }
    // 915px - burger
    @include rwd(915) {
        ul {
            display: none;
        }
        .signUp_button {
            display: none;
        }
        .burger_button {
            display: unset;
        }
    }
}
