@import "mixins";
@import "header-media";
@import "footer-media";


.wrapper {
    @include tablet {
        width: 98%;
    }
}

// Main page
.main_page_image {
    @include rwd(1450) {
        height: 940px;
        background-position: center;
    }
}
.main_page {
    @include rwd(1450) {
        height: 850px;
        flex-wrap: wrap;
        justify-content: center;
        .info_block {
            width: 80%;
            margin-top: 100px;
            justify-content: center;
            h1 {
                text-align: center;
            }
            p {
                width: 100%;
                text-align: center;
            }
        }
        .video_block {
            width: 100%;
            justify-content: center;
        }
    }
    @include rwd(650) {
        .video_block {
            margin: 0 5px;
            .video {
                width: 100%;
            }
        }
    }
    @include phone {
        .info_block {
            .info_buttons {
                width: 100%;
                flex-wrap: wrap;
                .buy_button {
                    width: 95%;
                    margin-right: 0;
                    margin: 0 auto;
                }
                .trial_button {
                    width: 95%;
                }
                a {
                    margin: 15px auto;
                    div {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

// Tools page
.tools_page {
    @include rwd(1050) {
        margin-bottom: calc((150px * 2) + 98px);
    }
    @include rwd(600) {
        margin-bottom: calc((150px * 4) + 98px);
    }
    .mid_container {
        @include tablet {
            justify-content: center;
        }
    }
    .title_column {
        @include tablet {
            width: 80%;
            margin-bottom: 40px;
            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
    }
}
.advantages_line {
    @include rwd(1050) {
        flex-wrap: wrap;
        .column {
            width: 50%;
        }
    }
    @include rwd(600) {
        .column {
            width: 100%;
            .img_container {
                .img_round {
                    width: 65px;
                    height: 65px;
                    margin-right: 40px;
                    img {
                        width: 20px;
                    }
                }
            }
            p {
                font-size: 23px;
            }
        }
        @include phone {
            .column {
                .img_container {
                    .img_round {
                        width: 60px;
                        height: 60px;
                        img {
                            width: auto;
                        }
                    }
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
    @include rwd(300) {
        .column {
            .img_container {
                .img_round {
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                }
            }
            p {
                font-size: 16px;
            }
        }
    }
}

// Services page
.service_page {
    .top_container {
        p {
            @include rwd(600) {
                width: 95%;
            }
        }
    }
}
.dropdown_info {
    .hidden_info {
        @include rwd(1000) {
            flex-wrap: wrap;
            justify-content: center;
            .img_container {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                letter-spacing: 1px;
                margin-left: 0;
            }
        }
    }
}

// About us page
.aboutUs_img {
    @include tablet {
        height: 850px;
    }
}
.aboutUs_page {
    @include tablet {
        height: 850px;
        flex-wrap: wrap;
        .arrow1, .arrow2 {
            display: none;
        }
        .arrow_container {
            right: 0;
            left: 8%;
            // position: relative;
            justify-content: center;
        }
        .arrow3 {
            display: flex;
            margin-top: 25px;
            margin-bottom: 250px;
            img {
                &:hover {
                    transform: scale(1.20);
                }
            }
        }
        .arrow4 {
            display: flex;
            margin-bottom: 11px;
            bottom: 0;
            img {
                transform: rotate(180deg);
                &:hover {
                    transform: scale(-1.20);
                }
            }
        }
        // NEED TO MAKE SOMETHING LIKE SLIDER
        .right_block {
            width: 90%;
            flex-wrap: nowrap;
            margin: 0 auto;
            margin-top: 25px;
            .person_container {
                justify-content: center;
                .text_field {
                    width: 85%;
                    margin-left: 20px;
                }
            }
        }
        .left_block {
            width: 90%;
            margin: 0 auto;
            margin-top: 30px;
            justify-content: center;
            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }
            .get_started_btn {
                margin-top: 25px;
            }
        }
    }
    .right_block {
        @include rwd(1286) {
            height: 1050px;
            max-height: 1050px;
        }
        .person_container {
            @include rwd(1286) {
                height: 210px;
            }
            .text_field {
                @include rwd(1579) {
                    p {
                        font-size: 14px;
                    }
                }
                @include rwd(1383) {
                    p {
                        font-size: 13px;
                    }
                }
                @include rwd(1286) {
                    padding: 12px 30px 30px 30px;
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}