@import "mixins";
@import "header-media";
@import "footer-media";


.wrapper {
    @include tablet {
        width: 98%;
    }
}

// Main page
.main_page_image {
    @include rwd(1450) {
        height: 940px;
        background-position: center;
    }
}
.main_page {
    @include rwd(1450) {
        height: 850px;
        flex-wrap: wrap;
        justify-content: center;
        .info_block {
            width: 80%;
            margin-top: 100px;
            justify-content: center;
            h1 {
                text-align: center;
            }
            p {
                width: 100%;
                text-align: center;
            }
        }
        .video_block {
            width: 100%;
            justify-content: center;
        }
    }
    @include rwd(650) {
        .video_block {
            margin: 0 5px;
            .video {
                width: 100%;
            }
        }
    }
    @include phone {
        .info_block {
            .info_buttons {
                width: 100%;
                flex-wrap: wrap;
                .buy_button {
                    width: 95%;
                    margin-right: 0;
                    margin: 0 auto;
                }
                .trial_button {
                    width: 95%;
                }
                a {
                    margin: 15px auto;
                    div {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

// Tools page
.tools_page {
    @include rwd(1050) {
        margin-bottom: calc((150px * 2) + 98px);
    }
    @include rwd(600) {
        margin-bottom: calc((150px * 4) + 98px);
    }
    .mid_container {
        @include tablet {
            justify-content: center;
        }
    }
    .title_column {
        @include tablet {
            width: 80%;
            margin-bottom: 40px;
            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
    }
}
.advantages_line {
    @include rwd(1050) {
        flex-wrap: wrap;
        .column {
            width: 50%;
        }
    }
    @include rwd(600) {
        .column {
            width: 100%;
            .img_container {
                .img_round {
                    width: 65px;
                    height: 65px;
                    margin-right: 40px;
                    img {
                        width: 20px;
                    }
                }
            }
            p {
                font-size: 23px;
            }
        }
        @include phone {
            .column {
                .img_container {
                    .img_round {
                        width: 60px;
                        height: 60px;
                        img {
                            width: auto;
                        }
                    }
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
    @include rwd(300) {
        .column {
            .img_container {
                .img_round {
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                }
            }
            p {
                font-size: 16px;
            }
        }
    }
}

// Services page
.service_page {
    .top_container {
        p {
            @include rwd(600) {
                width: 95%;
            }
        }
    }
}
.dropdown_info {
    .hidden_info {
        @include rwd(1000) {
            flex-wrap: wrap;
            justify-content: center;
            .img_container {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                letter-spacing: 1px;
                margin-left: 0;
            }
        }
    }
}

// About us page
.aboutUs_img {
    @include tablet {
        height: 680px;
        margin-top: 80px;
    }
}
.aboutUs_page {
    .left_block {
        @include rwd(1644) {
            .get_started_btn {
                margin-top: 20px;
            }
        }
    }
    .right_block {
        @include rwd(1286) {
            height: 1050px;
            max-height: 1050px;
        }
        .person_container {
            .text_field {
                @include rwd(1579) {
                    p {
                        font-size: 14px;
                    }
                }
                @include rwd(1383) {
                    p {
                        font-size: 13px;
                    }
                }
                @include rwd(1286) {
                    padding: 15px 25px;
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @include tablet {
        flex-wrap: wrap;
        .arrow1, .arrow2 {
            display: none;
        }
        .arrow_container {
            width: 50%;
            right: 0;
            top: 73.2%;
            justify-content: flex-start;
        }
        .arrow3 {
            left: 0;
            display: flex;
            justify-content: flex-start;
            img {
                padding: 5px;
                transform: rotate(-90deg);
                &:hover {
                    transform: rotate(-75deg) scale(1.20);
                }
            }
        }
        .arrow4 {
            display: flex;
            justify-content: flex-end;
            img {
                padding: 5px;
                transform: rotate(90deg);
                &:hover {
                    transform: rotate(75deg) scale(1.20);
                }
            }
        }
        // NEED TO MAKE SOMETHING LIKE SLIDER
        .right_block {
            width: 90%;
            flex-wrap: wrap;
            margin: 0 auto;
            margin-right: 50px;
            margin-left: 50px;
            height: 275px;
            .person_container {
                position: absolute;
                justify-content: center;
                &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                    opacity: 0;
                }
                .text_field {
                    width: 85%;
                    margin-left: 20px;
                }
            }
        }
        .left_block {
            width: 90%;
            margin: 0 auto;
            margin-top: 30px;
            justify-content: center;
            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }
            .get_started_btn {
                margin-top: 25px;
            }
        }
    }
    @include rwd(633) {
        .right_block {
            margin-top: 25px;
            .person_container {
                flex-wrap: wrap;
                .image_container {
                    width: 100%;
                    margin-bottom: 25px;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
                .text_field {
                    margin-left: 0;
                }
            }
        }
    }
}

// Team page 
// 882px
.team_page {
    @include rwd(882) {
        // width: 83.24%;
        width: 474px;
    }
    @include rwd(500) {
        width: 100%;
        .team_images {
            flex-wrap: wrap;
            height: 400px;
            margin-top: 30px;
            div {
                width: 100%;
                // img {
                //     transition: all .4s;
                // }
            }
            .main_person {
                width: auto;
                height: auto;
                margin: 20px 0;
            }
        }
    }
}