@import "mixins";
@import "header-media";
@import "footer-media";


.wrapper {
    @include tablet {
        width: 98%;
    }
}

// Main page
.main_page_image {
    @include rwd(1450) {
        height: 940px;
        background-position: center;
    }
}
.main_page {
    @include rwd(1450) {
        height: 850px;
        flex-wrap: wrap;
        justify-content: center;
        .info_block {
            width: 80%;
            margin-top: 100px;
            justify-content: center;
            h1 {
                text-align: center;
            }
            p {
                width: 100%;
                text-align: center;
            }
        }
        .video_block {
            width: 100%;
            justify-content: center;
        }
    }
    @include rwd(650) {
        .video_block {
            margin: 0 5px;
            .video {
                width: 100%;
            }
        }
    }
    @include phone {
        .info_block {
            .info_buttons {
                width: 100%;
                flex-wrap: wrap;
                .buy_button {
                    width: 95%;
                    margin-right: 0;
                    margin: 0 auto;
                }
                .trial_button {
                    width: 95%;
                }
                a {
                    margin: 15px auto;
                    div {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

// Tools page
.tools_page {
    @include rwd(1050) {
        margin-bottom: calc((150px * 2) + 98px);
    }
    @include rwd(600) {
        margin-bottom: calc((150px * 4) + 98px);
    }
    .mid_container {
        @include tablet {
            justify-content: center;
        }
    }
    .title_column {
        @include tablet {
            width: 80%;
            margin-bottom: 40px;
            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
    }
}
.advantages_line {
    @include rwd(1050) {
        flex-wrap: wrap;
        .column {
            width: 50%;
        }
    }
    @include rwd(600) {
        .column {
            width: 100%;
            .img_container {
                .img_round {
                    width: 65px;
                    height: 65px;
                    margin-right: 40px;
                    img {
                        width: 20px;
                    }
                }
            }
            p {
                font-size: 23px;
            }
        }
        @include phone {
            .column {
                .img_container {
                    .img_round {
                        width: 60px;
                        height: 60px;
                        img {
                            width: auto;
                        }
                    }
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
}
